{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>
    {% block title %}{% endblock %} - Teagarden
  </title>
  <link rel="icon" type="image/png" href="{{ STATIC_URL}}img/favicon.png" />
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL}}css/teagarden.css" />
  <script type="text/javascript"
          src="{% url django.views.i18n.javascript_catalog %}"></script>
  {% if debug %}
	<script type="text/javascript" src="{{ STATIC_URL }}closure/goog/base.js"></script>
	<script src="{{ STATIC_URL }}js/script.js?v=1"></script>
  <!-- Need this hack to use the debug toolbar -->
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
  {% else %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/script.js.compiled?v=1"></script>
  {% endif %}
  <link rel="alternate" type="application/atom+xml" title="{% trans "Recent comments" %}" href="/rss/comments" />
</head>
<body>
<div class="page">
  <h1 style="padding: 5px;">
    {% block page-title %}{% endblock %}
  </h1>
<div class="body">
  <div class="main">
    <div class="main-inner">
      {% if messages %}
        <div class="message-box">
          <ul class="messages">
              {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
<div class="foot"></div>
</div>
<script>
var help_displayed = false;
teagarden.shortcuts.init_handler();
var dashboard_link = "{% url teagarden.views.dashboard %}";
{% if table %}
  var publish_link = "{% url teagarden.views.publish table.id %}";
{% endif %}
var base_url = "{{ BASE_URL }}";
</script>
</body>
</html>
