{% load i18n %}
<tr >
  <td width="15" class="{% if field.primary %}red{% endif %} first">
    <input id="field_id" class="" type="checkbox" onclick="JS_setTableRowColor(this.value, 'field-{{ field.id }}');" title="" value="{{ field.id }}" name="field_ids"/>
  </td>
  <td class="{% if field.primary %}red{% endif %}" width="20">{% include "field_star.html" %}</td>
  <td class="{% if field.primary %}red{% endif %}" style="text-align: right;">
    <a href="{% url teagarden.views.field field.id %}">{{ field.id }}</a>
  </td>
  <td class="{% if field.primary %}red{% endif %}">
    <a href="{% url teagarden.views.field field.id %}">{{ field.full_name }}</a>
  </td>
  <td class="{% if field.primary %}red{% endif %}" style="text-align: right;">
    {{ field.position }}
  </td>
  <td class="{% if field.primary %}red{% endif %}">{{ field.full_type }}</td>
  <td style="text-align: center;" class="{% if field.primary %}red{% endif %}">
    {{ field.nullable|bool_to_image }}
  </td>
  <td class="{% if field.primary %}red{% endif %}">
    {% if field.foreign %}
      <a href="{% url teagarden.views.table field.foreign.table.id %}">{{ field.foreign.table.name }}</a>
    {% endif %}
  </td>
  <td class="{% if field.primary %}red{% endif %}" class="last">
    {% if field.short_description %}
      {{ field.short_description|truncatewords:10 }}
    {% else %}
      ({% trans "No description" %})
    {% endif %}
  </td>
  <td class="{% if field.primary %}red{% endif %}" style="text-align: center;">
    {{ field.count_comments }}
  </td>
  <td class="{% if field.primary %}red{% endif %} last">{{ field.updated|timesince }}, {{ field.updated_by_id|show_user_link }}</td>
</tr>
