{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Field" %} {{ field.id }}: {{ field.full_name }}
{% endblock %}

{% block page-title %}
  {% if field and field.id %}
    {% include "field_star.html" %}
  {% endif %}
  {% trans "Field" %} <a href="">{{ field.id }}</a>: {{ field.full_name }}
{% endblock %}

{% block content %}
  <table border="0" width="100%">
    <tbody>
      <tr valign="top">
        <td class="meta" width="20%">
          <div>
            <strong>{% trans "Project" %}:</strong><br/>
            <strong><a href="{% url teagarden.views.project field.table.project.id %}">
            {{ field.table.project.name }}
            </a></strong><br/>
          </div>
          <div>
            <strong>{% trans "Table" %}:</strong><br/>
            <strong><a href="{% url teagarden.views.table field.table.id %}">
            {{ field.table.name }}
            </a></strong><br/>
          </div>
          <div>
            <strong>{% trans "Short description" %}:</strong><br/>
              {% if field.short_description %}
                {{ field.short_description|truncatewords:10 }}
              {% else %}
                ({% trans "No description" %})
              {% endif %}
          </div>
          <div>
            <br/><strong>{% trans "Created" %}:</strong><br/>
              {{ field.created|date }} {% trans "by" %} {{ field.created_by_id|show_user_link }}</a>
          </div>
          <div>
            <strong>{% trans "Updated" %}:</strong><br/>
            {{ field.updated|date }} {% trans "by" %} {{ field.updated_by_id|show_user_link }}</a>
          </div>
          <div>
            <br/><a href="{% url teagarden.views.table field.table.id %}">{% trans "Back" %}</a>
          </div>
        </td>
        <td style="padding-left: .8em; padding-right: .8em; width:80%; vertical-align: top;">
          <h3><a id="field-description-pointer" href="javascript:teagarden.toggle_section('field-description');" class="toggled-section opentriangle">{% trans "Description" %}</a></h3>
          <div id="field-description">
            <code>
              {% if field.description %}
                {{ field.description }}
              {% else %}
                ({% trans "No description" %})
              {% endif %}
            </code>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
