{% extends "base.html" %}
{% load i18n %}

{% block page-title %}
{% endblock %}

{% block content %}
  <table border="0" width="100%">
    <tbody>
      <tr valign="top">
        <td class="meta" width="20%">
        </td>
        <td style="padding-left: .8em; padding-right: .8em; width:80%; vertical-align: top;">
          <form method="post">
            {% csrf_token %}
            <h3>{% trans "Publish comment" %}</h3>
            <table>
              <tr>
                <td><label for="id_message">{{ form.message.label }}:</label></td>
                <td>{{ form.message }}</td>
              </tr>
              <tr>
                <td></td>
                  <td>
                    <input name="save" type="submit" value="{% trans "Publish" %}">
                    <input name="cancel" type="submit" value="{% trans "Cancel" %}">
                  </td>
              </tr>
            </table>
          </form>
        </td>
    </tr>
  </tbody>
  </table>
{% endblock %}
