{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "User" %} {{ user_to_show.id }}: {{ user_to_show|nickname}}
{% endblock %}

{% block page-title %}
  {% trans "User" %} <a href="">{{ user_to_show.id }}</a>: {{ user_to_show|nickname }}
{% endblock %}

{% block content %}
<p>
  {% trans "Member since" %}: {{ user_to_show.date_joined|date }}<br/><br/>
  {% trans "Tables created" %}: {{ num_tables }}</br>
  {% trans "Fields created" %}: {{ num_fields }}</br>
  {% trans "Comments created" %}: {{ num_comments }}</br>
</p>
{% endblock %}
